body {
  background-color: rgb(204, 237, 237);
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.imageCard {
  width: 300px;
  height: auto;
}

.tittle {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.div-container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.div-supreme {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}
